/* *
 * Podcasts (Sass) 
 * 
 * This file lays out the elements within the main podcasting page.
 */

.page-podcasts
	background-color: #f1f1f1

	/* General Styles */
	h2
		background-color: #363636
		color: #fff
		display: inline-block
		width: 100%
		text-align: center
		border-top-left-radius: 0.3rem
		border-top-right-radius: 0.3rem
		padding: 5px 0 5px 0

	// main body
	.content-area
		padding-bottom: 50px

		.column
			width: 65%
						
		.column, aside
			display: table-cell

		aside
			text-align: justify
			padding-right: 2em
			width: 35%
			padding-left: 2%

			.podcasters
				padding-top: 60px

			.podcasters-wrapper
				height: 500px
				overflow: auto
				padding: 3%
				border-radius: 0.3rem
				background: #fff
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
				
				.single-wrapper
					position: relative
					display: block
					padding: 2%
					overflow: hidden
					border-radius: 10px
					margin-top: 2%
					
					
					&:hover
						cursor: pointer
			
					.podcaster-thumb-wrapper
						float: left
						width: 35%
						position: relative
						height: 125px
						border-radius: 10px
						min-width: 130px
						max-width: 150px
						
						img
							height: 110px
							width: 120px
							padding: 2%
						
					.podcaster-author-wrapper
						float: left
						width: 40%
						padding-top: 45px
						padding-left: 20px
						position: relative

	@media screen and (max-width: 725px)

		.content-area

			aside
				display: block
				float: top
				padding: 0
				width: 100%

	@media screen and (max-width: 484px)

		.content-area

			.column
				padding-left: 0px
				padding-bottom: 100px

				.podcast-wrapper
					height: 275px

					.podcast-thumb-wrapper

						img
							margin: 0 auto 10px auto
							display: block
							width: inherit

					.podcast-header-wrapper
						margin: 10px 0

					.podcast-description-wrapper
						margin: 10px 0
